DATABASE_URL="postgresql://neondb_owner:npg_T6LnwZS7zIdK@ep-wispy-dream-a5m32fzk-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="jambarrtech-secret-key-2026"
