# API URL (Backend)
VITE_API_URL=https://api-jambarrstore.up.railway.app

# Variables pour le déploiement Vercel
# Client: https://jambarrstore.vercel.app
# Admin:  https://admin-jambarrstore.vercel.app
# API:    https://api-jambarrstore.up.railway.app
